<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
  
  <material name="White">
    <color rgba="1 1 1 1"/>
  </material>
  
  <xacro:property name="base_radius" value="0.05" />
  <xacro:property name="base_height" value="0.0492" />
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://robot_arm_control_pkg/meshes/base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="White"/>
    </visual>

    <collision>
      <origin xyz="0 0 ${base_height/2}" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${base_height}" radius="${base_radius}"/>
      </geometry>
    </collision>
  </link>



  


</robot>

